html,body{
	width: 100%;
	height: 100%;
	margin: 0 0;
	padding: 0 0;
}
.v-f,.v-f-c,.v-f-s{
	display: flex;
}
.v-f-c{
	justify-content: center;
	align-items: center;
}

.v-f-s{
	justify-content: space-between;
}