html,body{
	width: 100%;
	height: 100%;
	margin: 0 0;
	padding: 0 0;
}
.v-f,.v-f-c,.v-f-s{
	display: flex;
}
.v-f-c{
	justify-content: center;
	align-items: center;
}

.v-f-s{
	justify-content: space-between;
}
.el-main{
	background-color: #EAEDF1;
}
.el-breadcrumb{
	margin-bottom: 15px;
}
.el-table,.el-steps,.el-tabs{
	margin-top: 15px;
}
/* 删除的按钮颜色 */
.el-icon-circle-close{
	color: #FFFFFF;
}
.ql-editor{
	min-height: 300px !important;
}
.el-dialog__body {
	padding: 10px 20px !important;
}